<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
<head>
    <meta charset="utf-8">
    <title>YKENzz Admin</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link href="/user_assets/Images/FAVICON.ico" rel="icon">
    <!-- Template CSS -->
    <link href="/admin_assets/css/main.css" rel="stylesheet">
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <%-include('../../partials/adminaside') %>

    </aside>








    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
              
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
           
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
 
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/admin_assets/images/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">EDIT PRODUCT</h2>
                 </div>
               
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            
                            
                            
                            <form class="ml-100" method="post" action="/admin/adminhome/productedit/?id=<%= product._id %>" enctype="multipart/form-data">
                                <div class="mb-4 ">
                                    <label for="product_name" class="form-label">Product Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_name" name="name" value="<%= product.prdctname %>" />
                                    <p id="product_name_error" style="color: red;"></p>

                                </div>
 
                                 
                                <div class="col-md-12 col-12 me-auto mb-md-0 mb-3">
                                    <select class="form-select" name="category"   >
                                        <option selected   %>" ><%= product.prdctcategory %></option  >
                                        <% for(let i=0;i<categoryData.length;i++){ %>
                                        <option><%= categoryData[i].Categoryname %></option>
                                        <% } %>
 
                                    </select>
                                </div>
                                <div class="mb-4 ">
                                    <label for="product_name" class="form-label">Product Description</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_name" name="description"value="<%= product.prdctdescription %>" />
                                    <p id="og_price_error" style="color: red;"></p>

                                </div>
                                <div class="mb-4 ">
                                    <label for="product_name" class="form-label">Product Price</label>
                                    <input type="number" placeholder="Type here" class="form-control" id="og_price" name="price" value="<%= product.prdctprice %>" />
                                </div>
                                <div class="mb-4 ">
                                    <label for="product_name" class="form-label">Product Offerprice</label>
                                    <input type="number" placeholder="Type here" class="form-control" id="offer_price" name="offerprice"  value="<%= product.prdctofferprice %>" />
                                    <p id="offer_price_error" style="color: red;"></p>

                                </div>
                                <div class="mb-4 ">
                                    <label for="product_name" class="form-label">Product Stock</label>
                                    <input type="number" placeholder="Type here" class="form-control" id="stock" name="stock" value="<%= product.prdctstock  %>"/>
                                    <p id="stock_error" style="color: red;"></p>

                                </div>
                                <div class="mb-4 ">
                                    <label for="product_name" class="form-label">Upload Image</label>
                                    <input type="file" placeholder="Type here" class="form-control" id="input[name="image"]" name="image" value="<%= product.prdctimage %>" accept="image/png, image/jpeg, image/jpg,image/avif" multiple/>
 
                                </div>
                               
                                <div class="d-grid mt-50 " >
                                    <a href=""><button type="submit" class="btn btn-success" onclick="return validation()">Update Product</button></a>        
                                </div>
                            </form>


                         <!-- .col// -->
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
          </div>
          <% for(let i=0;i<product.prdctimage.length;i++){ %>
          <article class="itemlist">
            <div class="row align-items-center">
                <div class="col col-check flex-grow-0">
                    <div class="form-check">
                        <!-- <input class="form-check-input" type="checkbox"> -->
                        <p><%= i+1  %></p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                    <a class="itemside" href="#">
                        <div class="left">
                            <img src="/admin_assets/uploads/<%= product.prdctimage[i]%>" class="img-sm img-thumbnail" alt="Item">
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                  
                    <a href="/admin/adminhome/deleteimg/?imgname=<%= product.prdctimage[i]%>&id=<%= product._id%>" class="btn btn-sm font-sm btn-light rounded">
                        <i class="material-icons md-delete_forever"></i> Delete
                    </a>
                </div>
            </div>  
        </article>
        <% } %>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/admin_assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin_assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin_assets/js/vendors/select2.min.js"></script>
    <script src="/admin_assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin_assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/admin_assets/js/main.js" type="text/javascript"></script>
    <script>
        function validateInput(input) {
      if (input.value.trim() === '') {
        input.setCustomValidity("Please enter a valid value.");
      } else {
        input.setCustomValidity('');
      }
    }


    function validation(){
        //To clear previous error message
        document.getElementById('product_name_error').textContent = '';
        document.getElementById('og_price_error').textContent = '';
        document.getElementById('offer_price_error').textContent = '';
        document.getElementById('stock_error').textContent = '';
 
        let product_name = document.getElementById('product_name').value;
        let og_price = document.getElementById('og_price').value;
        let offer_price = document.getElementById('offer_price').value;
        let stock = document.getElementById('stock').value;
 
        let isValid = true

        if (product_name.trim() === '') {
            document.getElementById('product_name_error').textContent = 'Product Name is required';
            isValid = false;
        }
        if(og_price <= 0) {
            document.getElementById('og_price_error').textContent = 'Please Enter Valid Price';
            isValid = false;

        }
        if(offer_price<=0 || offer_price>og_price){
            document.getElementById('offer_price_error').textContent = 'Please Enter Valid Price';
            isValid = false;

        }
        if(stock.trim() === '' || stock<0){
            document.getElementById('stock_error').textContent = 'Please Enter Valid Value';
            isValid = false;

        }

        if(isValid){
            return true
        }else{
            return false
        }

    }
    </script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
</html>